<div class="container">
    <div class="row g-0 d-flex justify-content-center">
        <div class="col-sm-6 product-container mt-5 mb-5">
            <div class="product-details w-100">
                <h2 class="bg-warning text-center text-light product-description">{{product.description}}</h2>
                <p>Category of product:
                    <select name="cars" id="cars" selected="">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                    {{product.productCategory}}
                </p>
                <p>Ingredients: {{product.ingredients}}</p>
                <p>Single product cost: {{currencyService.getPrice(product.price)}} {{currencyService.getCurrency()}}
                </p>
                <p *ngIf="authService.isCustomer()">
                    Still avaiable: {{selectedProductsService.getRemainingProductQuantity(product)}}
                </p>
                <div class="buttons" *ngIf="authService.isCustomer()">
                    <div class="buttons-box">
                        <ng-container *ngIf="selectedProductsService.getRemainingProductQuantity(product) > 0">
                            <app-product-increment (click)="selectedProductsService.addToShoppingBin(product,1)">
                            </app-product-increment>
                        </ng-container>
                        <ng-container
                            *ngIf="selectedProductsService.getRemainingProductQuantity(product) < product.quantity">
                            <app-product-reduce (click)="selectedProductsService.reduceFromShoppingBin(product,1)">
                            </app-product-reduce>
                        </ng-container>
                    </div>
                </div>
                <div class="buttons" *ngIf="authService.isCustomer()">
                    <app-product-reset class="margin-0-auto"
                        (click)="selectedProductsService.removeFromShoppingBin(product)">
                    </app-product-reset>
                </div>
            </div>
        </div>
        <app-product-opinions [product]="product" [menuService]="menuService">
        </app-product-opinions>
    </div>
</div>