<ul class="slider-list-container list-unstyled">
    <span
        *ngFor="let slider of sliders; let i = index"
        class="d-flex mb-2 rotate-n-45"
        >
        <app-slider-element
        *ngIf="actualSlider === i; else anotherSlider"
        [slider]="slider"
        class="bg-light mb-1"
        >
        </app-slider-element>
        <ng-template #anotherSlider>
            <app-slider-element
                [slider]="slider"
                class="bg-warning mb-1"
                >
            </app-slider-element>
        </ng-template>
    </span>
    
<ul>