<div class="container">
    <div class="row g-0 d-flex justify-content-center">
        <div class="col-sm-6 product-container mt-5 mb-5">
            <div class="image-container position-relative">
                <span class="position-absolute go-back" (click)="goToMenu()"><strong>←</strong> Go back</span>
                <img class="single-image position-absolute" src="{{product.productImages[productPage.page]}}">
                <div class="change-images-container d-flex justify-content-end">
                    <button 
                        (click)="previousImage()"
                        type="button" 
                        class="btn bg-warning"
                        >
                        <
                    </button>
                    <button 
                        (click)="nextImage()"
                        type="button"
                        class="btn bg-warning"
                        >
                        >
                    </button>
                </div>
                <app-product-remove (click)="remove()" *ngIf="authService.isAdmin()">
                </app-product-remove>
            </div>
            <div class="product-details w-100">
                <h2 class="bg-warning text-center text-light product-description">{{product.description}}</h2>
                <p>Category of product: {{product.productCategory}}</p>
                <p>Ingredients: {{product.ingredients}}</p>
                <p>Single product cost: {{currencyService.getPrice(product.price)}} {{currencyService.getCurrency()}}</p>
                <p>Still avaiable: {{selectedProductsService.getRemainingProductQuantity(product)}} </p>
                <div class="buttons" *ngIf="authService.isCustomer()">
                    <div class="buttons-box">
                        <ng-container *ngIf="selectedProductsService.getRemainingProductQuantity(product) > 0">
                            <app-product-increment
                                (click)="selectedProductsService.addToShoppingBin(product,1)"
                                >
                            </app-product-increment>
                        </ng-container>
                        <ng-container *ngIf="selectedProductsService.getRemainingProductQuantity(product) < product.quantity">
                            <app-product-reduce
                                (click)="selectedProductsService.reduceFromShoppingBin(product,1)"
                                >
                            </app-product-reduce>
                        </ng-container>
                    </div>
                </div>
                <div class="buttons" *ngIf="authService.isCustomer()" >
                    <app-product-reset
                        class="margin-0-auto"
                        (click)="selectedProductsService.removeFromShoppingBin(product)"
                        >
                    </app-product-reset>
                </div>
            </div>
        </div>
        <app-product-opinions
            [product] = "product"
            [menuService]="menuService"
            >
        </app-product-opinions>
    </div>
</div>