.navbar {
    font-weight: bold;
}
.btn {
    font-weight: bold;
    border-radius: 200px;
}

.navbar-toggler {
    padding: 1rem 1.25rem;
    font-size: 1.5rem;
    line-height: 1;
    background-color: transparent;
    border: 3px solid transparent;
}

.shopping-bin {
    width: 23px;
    height: 20px;
    border-radius: 50%;
    padding-bottom: 23px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    bottom: -3px;
    right: -15px;
    transition: 0.3s ease-in-out;
}

.shopping-bin-container:hover > .shopping-bin {
    color: white;
}

.username {
    position: absolute;
    top:5px;
    left: -20px;
}

.username-container {
    position: relative;
}

.currency-container {
    right: 20px;
}


@media (min-width: 1200px){
    .nav-item {
        margin-left: 1.5rem;
    }
    hr {
        display: none;
    }
}

@media (max-width: 1199px) {
    .shopping-bin {
        display: none;
    }
    .navbar-nav {
        width: 100%;
        text-align: center;
        font-size: x-large;
    }
    .btn {
        font-size: x-large;
        margin-bottom: 2rem;

    }
    .navbar {
        margin-bottom: 5rem;
    }

    .order-box {
        justify-content: center !important;
        width: 100%;
    }

}



