<header class="row gx-0">
	<nav class="navbar navbar-light navbar-expand-md">
        <!-- navbar-toggler class hides element in resolution highter than navbar-expand-->        
        <button        
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#togglemenu"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-md-12" id="togglemenu">
           <ul class="col-xs-12 col-sm-5 col-md-7 navbar-nav">

                <ng-template #loggedUser>
                    <li class="nav-item username-container">
                            Hello
                            <a class="nav-link username">
                                {{authService.loggedUserName}}
                            </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" routerLink="/login" (click)=" selectedProductsService.removeAllFromShoppingBin(); authService.signOut()"> Logout </a>
                    </li>
                </ng-template>
                <li routerLinkActive="active" class="nav-item col-xs-12">
                    <a class="nav-link text-black" routerLink=""> Home </a>
                    <hr>
                </li>
                <li *ngIf="authService.isAdmin()"
                    routerLinkActive="active" class="nav-item">
                    <a class="nav-link text-black" routerLink="/admin-panel"> Admin Panel </a>
                </li>
                <li *ngIf="authService.isManager()"
                    routerLinkActive="active" class="nav-item">
                    <a class="nav-link text-black" routerLink="/add-product"> Add Product </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link text-black" routerLink="/menu"> Menu </a>
                    <hr>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" routerLink="/promotional-sets"> Promotional Sets </a>
                    <hr>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link text-black" routerLink="/get-job"> Get Job </a>
                    <hr>
                </li>
                <li *ngIf="authService.isCustomer()"
                    routerLinkActive="active" class="nav-item">
                    <a
                        class="nav-link text-black position-relative shopping-bin-container"
                        routerLink="/shopping-bin"
                        >
                         Shopping Bin 
                        <div class="shopping-bin position-absolute bg-warning ">
                            {{selectedProductsService.getProductsQuantity()}}
                        </div> </a>
                    <hr>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link text-black" routerLink="/socials"> Socials </a>
                </li>
                <li *ngIf="!authService.isCustomer() else loggedUser" routerLinkActive="active" class="nav-item">
                    <a class="nav-link text-black" routerLink="/login"> Sign in </a>
                </li>

                <li *ngIf="!authService.isCustomer()"   routerLinkActive="active" class="nav-item">
                    <a class="nav-link text-black" routerLink="/register" > Sign up </a>
                </li>
                 
            </ul>

            <div class="order-box d-flex">
                <button type="button" class="btn text-grey p-0" (click)="currencyService.changeCurrency('$')" [ngClass]="{'text-muted': currencyService.getCurrency() != '$'}">$</button>
                <button type="button" class="btn p-0" (click)="currencyService.changeCurrency('€')" [ngClass]="{'text-muted': currencyService.getCurrency() != '€'}">€</button>
            </div>

            <div *ngIf="authService.isCustomer()" class="order-box col-xs-12 col-md-4 col-sm-3 d-flex justify-content-end">
                <button type="button" (click)="selectedProductsService.buyNow()" class=" btn btn-warning mr-3 text-uppercase text-bold">
                    <span class="text-dark">Order now!</span>
                </button>
            </div>
        </div>
	</nav>
</header>