<div
    [ngClass]="{'orange-box-shadow': remaining <= 3,'blue-box-shadow': remaining == 0,'highest-price-box-shadow': product.price === maxPrice, 'lowest-price-box-shadow': product.price ===minPrice}"
    class="background-image position-relative mb-5"
    style="background-image: url('{{product.productImage}}');
        background-size: contain;"
    (click)="active=!active"
    >
    <div
        class="see-details text-center w-100 h-100 f-500"
        (click)="goToProductDetalis()"
    >
        <p class="pt-1">
            <strong>description: </strong> {{product.description}} 
            <button type="button"
                class="btn bg-warning remove mt-1"
                (click)="remove()"
                >
                x
            </button>
        </p>
        <p>
        <strong>Category:</strong> {{product.productCategory}}
        </p>
        <p> <strong>Price: </strong>
            {{product.price}}
        </p>
        <div class="buttons">
            <div class="buttons-box">
                <ng-container *ngIf="remaining > 0">
                    <app-product-increment
                        (click)="addEvent()"
                        >
                    </app-product-increment>
                </ng-container>
                <ng-container *ngIf="remaining < product.quantity">
                    <app-product-reduce
                        (click)="reduceEvent()"
                        >
                    </app-product-reduce>
                </ng-container>
            </div>
        </div>
        <p>{{remaining}}</p>
        <app-product-reset
            (click)="resetEvent()"
            >
    </app-product-reset>
    </div>
        

</div>