<div
    [ngClass]="{'orange-box-shadow': selectedProductsService.getRemainingProductQuantity(product) <= 3,'blue-box-shadow': selectedProductsService.getRemainingProductQuantity(product) == 0,'highest-price-box-shadow': this.currencyService.getPrice(product.price) === maxPrice, 'lowest-price-box-shadow': this.currencyService.getPrice(product.price) ===minPrice}"
    class="background-image position-relative mb-5"
    style="background-image: url('{{product.productImage}}');
        background-size: contain;"
    (click)="active=!active"
    >
    <div
        class="see-details text-center w-100 h-100 f-500"
        (click)="goToProductDetalis()"
        >
        <p class="pt-1">
            <strong>description: </strong> {{product.description}} 
            <app-product-remove *ngIf="authService.isAdmin()"
                (click) = "remove(); $event.stopPropagation()"
                 >
        </app-product-remove>
        </p>
        <p>
        <strong>Category:</strong> {{product.productCategory}}
        </p>
        <p> <strong>Price: </strong>
            {{currencyService.getPrice(product.price)}} {{currencyService.getCurrency()}}
        </p>
        <div  class="buttons" *ngIf="authService.isCustomer()">
            <div class="buttons-box">
                <ng-container *ngIf="selectedProductsService.getRemainingProductQuantity(product) > 0">
                    <app-product-increment
                        (click)="addEvent(); $event.stopPropagation()"
                        >
                    </app-product-increment>
                </ng-container>
                <ng-container *ngIf="selectedProductsService.getRemainingProductQuantity(product) < product.quantity">
                    <app-product-reduce
                        (click)="reduceEvent(); $event.stopPropagation()"
                        >
                    </app-product-reduce>
                </ng-container>
            </div>
        </div>
        <p>{{selectedProductsService.getRemainingProductQuantity(product)}}</p>
        <app-product-reset
            *ngIf="authService.isCustomer()"
            (click)="resetEvent(); $event.stopPropagation()"
            >
    </app-product-reset>

    <div class="move-to-details"
    (click)="goToProductDetalis(); $event.stopPropagation()"
        >
    </div>
    </div>
</div>