<div class="info d-flex col-xs-12 pt-5 pb-3 x-small f-700">
    <a routerLinkActive="active" routerLink="/contact" class="text-black text-decoration-none col-xs-12 col-md-2 offset-md-2">contact</a>
    <a routerLinkActive="active" routerLink="/help" class="text-black text-decoration-none col-xs-12 col-md-2">help</a>
    <a routerLinkActive="active" routerLink="/regulations" class="text-black text-decoration-none col-xs-12 col-md-2">regulations</a>
    <a routerLinkActive="active" routerLink="/faq" class="text-black text-decoration-none col-xs-12 col-md-2">faq</a>
</div>
