<div class="opinions w-100 mt-5">
    <h2 class="text-center mb-4">
        Add review about the product
    </h2>
    <div class="add-opinion-container d-flex-row position-relative mt-2 mb-2">
        <div class="nickname-container w-100 mb-1">
                <input type="text" class="nickname bg-light w-100 font-weight-bold" placeholder="your nickname">
        </div>
        <div class="textarea-container w-100">
            <textarea class="bg-light opinion" placeholder="leave your opinion..."></textarea>
        </div>
        <button type="button"
         class="add-opinion-button btn bg-warning position-absolute"
         (click)="addOpinion()"
         >
            Add opinion
        </button>
    </div>
    <app-user-opinions
        [productOpinions] = "product.opinions"
        >
    </app-user-opinions>
</div>
