<div class="opinions w-100 mt-5">
    <h2 class="text-center mb-4" 
        *ngIf="authService.canAddComment(product)">
        Add review about the product
    </h2>
    <div *ngIf="authService.canAddComment(product)" class="add-opinion-container d-flex-row position-relative mt-2 mb-2">
        <div class="textarea-container w-100">
            <textarea class="bg-light opinion" placeholder="leave your opinion..."></textarea>
        </div>
        <button type="button"
         class="add-opinion-button btn bg-warning position-absolute"
         (click)="addOpinion()"
         >
            Add opinion
        </button>
    </div>
    <app-user-opinions
        [productOpinions] = "product.opinions"
        >
    </app-user-opinions>
</div>
