<ul class="list-unstyled d-flex justify-content-around bg-light">
    <li>
        <app-menu-header-element
            [headerName]="'RESET'"
            (click)="resetCategories()"
            >
        </app-menu-header-element>
    </li>
    <li
        *ngFor="let data of categories | keyvalue">
            <app-menu-header-element
                (click)="toggleCategory(data.value)"
                [headerName]="data.value"
                >
            </app-menu-header-element>
    </li>
</ul>