<div class="container-fluid">
        <div
        class="category col-xs-12 row"
        *ngFor="let productList of Products | keyvalue"
        >
                <app-category-header
                    class="col-xs-12"
                    [categoryName]="productList.key"
                    >
                </app-category-header>
            <div
                *ngFor="let product of productList.value"
                class="col-xs-12 col md-6 col-lg-5 col-xl-4 mb-5"
                >
                <app-product-box
                [product]="product"
                >
                </app-product-box>
            </div>
        </div>
</div>
