<div class="container-fluid">
        <div
            class="category col-xs-12 row"
            *ngFor="let productList of Products | keyvalue"
        >
        <div
            *ngFor="let product of productList.value"
            class="col-xs-6 col md-6 col-lg-4 col-xl-3 col-xxl-2"
        >
            <ng-container *ngIf="activeCategories[product.productCategory]">
                <app-product-box
                [product]="product"
                >
                </app-product-box>
            </ng-container>
        </div>
            
        </div>
</div>
