<div class="news col-xs-12 bg-primary p-0 m-0 w-100 h-75" style="background-image: url('https://www.eurofinsfoodtesting.com/uploads/service/istock-472172087.b47b87.jpg');">
    <app-slider></app-slider>
    <app-change-slider
    	[direction]="'right'"
			(changingDirection)="onSliderChange($event)"
      >
    </app-change-slider>
		<strong>
			{{actualSlider}}
		</strong>
    <app-change-slider
    	[direction]="'left'"
			(changingDirection)="onSliderChange($event)"
    	>
    </app-change-slider>
</div>