<div *ngIf="authService.isAdmin()" class="users-container">
    <div *ngFor="let user of users" class="d-flex justify-content-between">
        <div class="user-name">
            <strong>
                {{user.email}}
            </strong>
        </div>
        <div *ngIf="!user.banned else unban">
            <button type="button" class="btn bg-succes" (click)="usersService.banUser(user)">
                unbanned
            </button>
        </div>
        <ng-template #unban>
            <button type="button" class="btn bg-danger" (click)="usersService.unbanUser(user)">
                banned
            </button>
        </ng-template>
    </div>
</div>